.bg-img1 {
    height: 80vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(34, 88, 122, 0.329)), url(img/arcane-1.jpg);
    background-size: cover;
}

.bg-img2 {
    height: 80vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(34, 88, 122, 0.329)), url(img/arcane-2.jpg);
    background-size: cover;
}

.bg-img3 {
    height: 80vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(34, 88, 122, 0.329)), url(img/arcane-3.jpg);
    background-size: cover;
}